<div class="container pt-3">
    <div class="row justify-content-sm-center">
      <div class="col-sm-10 col-md-6">
        <div class="card border-info">
          <div class="card-header">Your Political Action Kit- Administration Menu</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3 text-center">
                <button type="button" mdbBtn color="primary" mdbWavesEffect>Videos</button>
              </div>
              <div class="col-md-8 text-center">
                <button type="button" mdbBtn color="primary" mdbWavesEffect>Analytics</button>
              </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center">
                  <button type="button" mdbBtn color="primary" mdbWavesEffect>surveys</button>
                </div>
                <div class="col-md-8 text-center">
                  <button type="button" routerLink="/user-management" mdbBtn color="primary" mdbWavesEffect>Users</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>