<div class="row">
    <div class="col-md-6">
        <form #f="ngForm" (ngSubmit)='save(f.value)'>
            <div class="form-group">
                <label for="name">Name</label>
                <input #name="ngModel" ngModel name="name" id="name" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                    Name is required.
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input #email="ngModel" ngModel name="email" id="email" type="email" class="form-control" required>
                <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                    Email is required.
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input #password="ngModel" ngModel name="password" id="password" type="password" class="form-control" required>
                <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                    Password is required.
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="confirmpassword">Confirm Password</label>
                <input #confirmpassword="ngModel" ngModel name="confirmpassword" id="confirmpassword" type="password" class="form-control" required>
                <div class="alert alert-danger" *ngIf="confirmpassword.touched && confirmpassword.invalid">
                    Password is required.
                </div>
            </div> -->
            <div class="form-group">
                <label for="permissions">Permissions</label>
                <select #permissions="ngModel" ngModel name="permissions" id="permissions" type="text" class="form-control" required>
                    <option value="User">User</option>
                    <option value="Admin">Admin</option>
                    </select>
                <div class="alert alert-danger" *ngIf="permissions.touched && permissions.invalid">
                    Permissions is required.
                </div>
            </div>
            
            <div class="form-group">
                <label for="phone">Phone</label>
                <input #phone="ngModel" ngModel name="phone" id="phone" type="tel" class="form-control" required>
                <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
                    Phone is required.
                </div>
            </div>
            <button class="btn btn-primary">Save</button>
            <button class="btn btn-primary" type="button" routerLink="/menu">Back to Menu</button>
        </form>
    </div>
</div>
