<div class="container pt-3">
    <div class="row justify-content-sm-center">
      <div class="col-md-8">
        <div class="card border-info">
          <div class="card-header justify-content-md-center bg-primary text-light">Your Political Action Kit- User Management</div>
          <div class="card-body">
            
            <div class="row">
                <div class="col-md-7">
                    <form #f="ngForm" (ngSubmit)='save(f.value);f.reset()'>
                        <div class="form-group">
                            <label for="name" >Name</label>
                            <input #name="ngModel" [(ngModel)]="user.name" name="name" id="name" type="text" class="form-control" required>
                            <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                                Name is required.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input #email="ngModel" [(ngModel)]="user.email" name="email" id="email" type="email" class="form-control" autocomplete="disabled" required>
                            <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                                Email is required.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input #password="ngModel" [(ngModel)]="user.password" name="password" id="password" type="password" class="form-control" required>
                            <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                                Password is required.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="permissions">Permissions</label>
                            <select #permissions="ngModel" [(ngModel)]="user.permissions" name="permissions" id="permissions" type="text" class="form-control" required>
                                <option value="User">User</option>
                                <option value="Admin">Admin</option>
                                </select>
                            <div class="alert alert-danger" *ngIf="permissions.touched && permissions.invalid">
                                Permissions is required.
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input #phone="ngModel" [(ngModel)]="user.phone" name="phone" id="phone" type="tel" class="form-control" required>
                            <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
                                Phone is required.
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-4" *ngIf="!id">
                              <button class="btn btn-primary btn-block" type="submit" [disabled]="!f.form.valid">Save</button>
                            </div>
                            <div class="col-4" *ngIf="id">
                                <button class="btn btn-primary btn-block" type="submit" [disabled]="!f.form.valid">Edit</button>
                              </div>
                            <div class="col-4">
                              <button class="btn btn-primary btn-block" type="button" (click)="clearForm(f)" >New</button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-primary btn-block" type="button" routerLink="/menu" >Menu</button>
                              </div>
                          </div>
                    </form>
                </div>
                <div class="column-md">
                    <p>
                        <input 
                          #query
                          (keyup)="filter(query.value)"
                          type="text" class="form-control" placeholder="Search by name">
                    </p>
                    <div class="card" style="width: 18rem;">
                        <!-- <div class="card-header bg-info text-white">Users</div> -->
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let u of filteredUsers">
                                <a [routerLink]="['/user-management/', u.key]">
                                    {{ u.name }}</a>
                            </li>
                        </ul>
                      </div>
                    
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
</div>
